* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
  }
  
body {
    overflow-x: hidden;
    overflow-y: auto;
}

.go-to {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

#wrapper {
    .page-main {
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto 50px;

        header {
            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 6rem;
            }
        }

        main {
        ul {
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img {
                    height:20px;
                }
                margin: 5px 5px 10px 5px;
            }
        }
        }

        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
    }

    .page {
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px auto;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1 {
                font-size: 6rem;
            }
        }
        main {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px auto 50px;
            margin: 10px;
            h2 {
                display: flex;
                justify-content: center;
                align-self: center;
                font-size: 3rem;
            }
            .info-blocks-container {
                display: flex;
                justify-content: center;
                align-self: flex-start;
                .info-blocks {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                    div {
                        padding: 5px;
                        margin: 0 0 5px 0;
                        font-size: 2rem;
                    }
                    :nth-child(odd) {
                        text-align: right;
                        border-radius: 5px 0px 0px 5px;
                        font-weight: bold;
                    }
                    :nth-child(even) {
                        text-align: left;
                        border-radius: 0 5px 5px 0;
                    }
                }
            }
        }
    }
}
